$color-white: #fff;
$color-black: #000;

$color-grey-dark: #494f5e;
$color-grey-light: #cacaca;
$color-grey-light-2: #b4b3b3;

$color-blue: #4285f4;
$color-red: #ea4335;
$color-yellow: #fbbc05;
$color-green: #34a853;
