@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.logo {
  font-family: "Lexend Deca", sans-serif;
}
