//icons located in apps drawer
.icon-link {
  position: relative;
  display: grid;
  place-items: center;

  user-select: none;

  &__icon {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
  }

  &__user {
    fill: #72caaf;
  }

  &__google {
    fill: #1976d2;
  }

  &__play {
    fill: #607d8b;
  }

  &__news {
    fill: $color-green;
  }

  &__youtube {
    fill: #f00;
  }

  &__contacts {
    fill: #1e88e5;
  }
}

//icons located in icon-box
.icons-box .icon-link {
  &__icon {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.5rem;
  }

  &__youtube {
    fill: #f00;
  }

  &__react {
    fill: #61dafb;
  }

  &__linkedin {
    fill: #0077b5;
  }

  &__npm {
    fill: #cb3837;
  }

  &__sass {
    fill: #c69;
  }
}
